#
# base configuration file for named-admin
#

# specify the location of the named.conf or 
# the file which contains you named zone configurations
named_zone_file:   '/etc/named.conf'

# Define the command to execute in order to restart named
# and reload the configuration
restart_cmd:       'service named restart'
restart_enable:    true

# configuration of logging
log_enable:        true
log_file:          '/var/log/named-admin.log'

# settings for automatically testing the configuration with named-checkconf
checkconf_path:    '/usr/sbin/named-checkconf'
checkconf_enable:  false
