# define your default zone settings
# {{name}} is replaced by the real zone name

example-slave:
    type: slave
    masters: '{ 192.168.1.1; 192.168.1.2; }'
    allow-query: '{ any; }'
    file: '"{{name}}.db"'
    
example-master:
    type: master
    also-notify: '{ 192.168.1.3; 192.168.1.4; }'
    allow-query: '{ none; }'
    file: '"{{name}}.db"'
